li {
	list-style-type: none;
	margin-bottom: 20px;
}

.dropdown {
	height: 28px;
	width: 161px;
	display: inline-block;
	margin: 2px 0 0 0;
}

.search {
	margin-bottom: 15px;
	margin-right: 5px;
	padding: 5px;
	border-radius: 15px;
	border: 1px solid grey;
	outline-style: none;
}