li {
	list-style-type: none;
	margin-bottom: 20px;
}

.dropdown {
	height: 28px;
	width: 162px;
	display: inline-block;
	margin: 2px 0 0 0;
}

.search {
	margin-bottom: 15px;
	margin-right: 5px;
	padding: 2px;
	/*border-radius: 10px;*/
	border: 1px solid grey;
}