header {
	margin-bottom: 20px;
}

li {
	list-style-type: none;
	width: 215px;
	margin-bottom: 20px;
}

.dropdown {
	/*height: 28px;
	width: 161px;*/
	width: 176px;
	height: 25px;
	display: inline-block;
	margin: 2px 0 0 0;
}

.search {
	width: 100px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid grey;
	outline-style: none;
}

button {
	width: 215px;
	background-color: grey;
}

.close {
	width: 20px;
}